*{ margin: 0; box-sizing: border-box;}
body{
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header{ padding: 10px; background: #ccc;}
nav{ padding: 10px; background: #fdb8b8;}
main{ padding: 10px; background: #b0f5a4;}
footer{ padding: 10px; background: #76d6f3;}