*{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
body{
    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header{ padding: 10px; background: #ccc;}
nav{ padding: 10px; background: #fdb8b8;}
nav a{ display: inline-block; padding: 6px 12px;}
main{ padding: 10px; background: #eee;}
footer{ padding: 10px; background: #76d6f3;}
table{ border-collapse: collapse; border: 1px solid #000;}
table td, table th{ border: 1px solid #000; padding: 5px;}
.fr{ float: right;}