<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        {% include "header.html" %}
        {% include "nav.html" %}

        <main>
            <h2>Main</h2>
            <img src="img/icon.png" alt="" width="192" height="192">

            <fieldset>
                <legend>HTTP Get</legend>
                <form action="/getform" method="get">
                    <label>Search : <input type="search" name="q" required></label>
                    <button>Search</button>
                </form>
            </fieldset>
            <br>
            <fieldset>
                <legend>HTTP Post</legend>
                <form action="/postform" method="post">
                    <label>Email : <input type="email" name="email" required></label>
                    <label>Password : <input type="password" name="pass" required></label>
                    <button>Send</button>
                </form>

            </fieldset>
            <br>
            <fieldset>
                <legend>AJAX API</legend>
                <form action="/checkday" method="post" class="checkday">
                    <label>
                        Day: <input type="number" name="day" required min="1" max="7">
                    </label>

                    <button>Check</button>
                    <span></span>
                </form>
            </fieldset>

            <p>{{month}}</p>
            <ol>
                {% for i in month %}
                <li>{{ i }}</li>
                {% endfor %}
            </ol>
            <table>
                <tr>
                    <th>Key </th>
                    <th>Value</th>
                </tr>
                {% for i,j in user %}
                <tr>
                    <td>{{i}}</td>
                    <td>{{ j }}</td>
                </tr>
                {% endfor %}
            </table>
        </main>
        {% include "footer.html" %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(".checkday").submit(function (e) {
            e.preventDefault();
            var day = $(this).find("input").val();

            $.post("/checkday", { day: day }, function (data) {

                $(".checkday span").html(data);
            });

        });
    </script>
</body>

</html>